# Node.js
node_modules/          # Dossier des dépendances Node.js
npm-debug.log*         # Logs de débogage npm
yarn-error.log         # Logs d'erreurs yarn
.env                   # Fichiers des variables d'environnement

# SQLite
*.sqlite               # Tous les fichiers SQLite
*.sqlite-journal       # Journaux SQLite

# Logs
logs/                  # Dossier des logs (si créé)
*.log                  # Tous les fichiers .log

# Système d'exploitation
.DS_Store              # macOS
Thumbs.db              # Windows

# IDE / éditeurs
.vscode/               # Paramètres Visual Studio Code
.idea/                 # Paramètres WebStorm / IntelliJ IDEA
*.swp                  # Fichiers de swap (vim)
*.bak                  # Fichiers de sauvegarde

# Tests
coverage/              # Dossiers de couverture de tests
