# Node.js
node_modules
npm-debug.log*
yarn-error.log
.env

# SQLite
*.sqlite
*.sqlite-journal

# Logs
logs/
*.log

# Système d'exploitation
.DS_Store
Thumbs.db

# IDE / éditeurs
.vscode/
.idea/
*.swp
*.bak

# Tests
coverage/
